/*
// app/styles/variables.css
//
// Global CSS Variables
*/ 

:root {
    --default-black: #000;
    --default-white: #FFF;
    --default-faded: #2F2F2F;

    --primary-faded: rgba(100,100,100, 0.4);
    --border-faded: rgba(0, 0, 0, 0.4);
}